@charset 'utf-8';

/* 웹 폰트 */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');
/* import normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* line 3, ../scss/_activators.scss */
body.good .overlay {
  display: block; }
  /* line 5, ../scss/_activators.scss */
  body.good .overlay .correct {
    display: block; }
/* line 11, ../scss/_activators.scss */
body.bad .overlay {
  display: block; }
  /* line 13, ../scss/_activators.scss */
  body.bad .overlay .wrong {
    display: block; }

/* line 2, ../scss/_wrapper.scss */
.wrapper {
  text-align: center;
  overflow: hidden;
  z-index: 5;
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.45s ease;
  -ms-transition: -ms-transform 0.45s ease;
  -o-transition: -o-transform 0.45s ease;
  -transition: -transform 0.45s ease;
  transition: transform 0.45s ease; }
  /* line 9, ../scss/_wrapper.scss */
  .wrapper h1 {
    width: 100%;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 20px 0;
    background-color: steelblue; }
    /* line 15, ../scss/_wrapper.scss */
    .wrapper h1 span {
      font-size: 300%; }
  /* line 20, ../scss/_wrapper.scss */
  .wrapper .game {
    display: block;
    height: calc(100% - 190px);
    position: relative;
    z-index: 5; }
    /* line 25, ../scss/_wrapper.scss */
    .wrapper .game p {
      margin-top: 10px; }
    /* line 29, ../scss/_wrapper.scss */
    .wrapper .game div {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      display: block; }
    /* line 33, ../scss/_wrapper.scss */
    .wrapper .game h3 {
      font-size: 150%;
      margin-bottom: 50px;
      font-family: 'Source Code Pro'; }
    /* line 40, ../scss/_wrapper.scss */
    .wrapper .game ul li {
      display: block;
      width: 50px;
      height: 50px;
      background-color: #232323;
      display: inline-block;
      border-radius: 50px;
      margin-right: 20px;
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 1px 2px 1px rgba(0, 0, 0, 0.1), 0px 3px 4px 4px rgba(0, 0, 0, 0.06);
      -webkit-transition: all 0.45s ease;
      -ms-transition: all 0.45s ease;
      -o-transition: all 0.45s ease;
      -transition: all 0.45s ease;
      transition: all 0.45s ease; }
      /* line 54, ../scss/_wrapper.scss */
      .wrapper .game ul li:hover {
        cursor: pointer; }
      /* line 57, ../scss/_wrapper.scss */
      .wrapper .game ul li:active {
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3), 0px 4px 6px 3px rgba(0, 0, 0, 0.1), 0px 6px 9px 7px rgba(0, 0, 0, 0.06);
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        -transform: scale(0.9);
        transform: scale(0.9); }
      /* line 65, ../scss/_wrapper.scss */
      .wrapper .game ul li:last-of-type {
        margin-right: 0; }
      /* line 68, ../scss/_wrapper.scss */
      .wrapper .game ul li.show {
        -webkit-transform: scale(46);
        -ms-transform: scale(46);
        -o-transform: scale(46);
        -transform: scale(46);
        transform: scale(46);
        -webkit-transition: -webkit-transform 0.65s ease;
        -ms-transition: -ms-transform 0.65s ease;
        -o-transition: -o-transform 0.65s ease;
        -transition: -transform 0.65s ease;
        transition: transform 0.65s ease; }
        @media all and (max-width: 640px) {
          /* line 68, ../scss/_wrapper.scss */
          .wrapper .game ul li.show {
            -webkit-transform: scale(40);
            -ms-transform: scale(40);
            -o-transform: scale(40);
            -transform: scale(40);
            transform: scale(40); } }
        @media all and (min-width: 1500px) {
          /* line 68, ../scss/_wrapper.scss */
          .wrapper .game ul li.show {
            -webkit-transform: scale(70);
            -ms-transform: scale(70);
            -o-transform: scale(70);
            -transform: scale(70);
            transform: scale(70); } }

/* line 92, ../scss/_wrapper.scss */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9; }
  /* line 96, ../scss/_wrapper.scss */
  .overlay .correct, .overlay .wrong {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    display: none;
    text-align: center;
    font-size: 300%;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    -webkit-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1);
    /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
    -moz-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
    -o-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
    transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
    /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1);
    /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
    -moz-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
    -o-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
    transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
    /* custom */ }
    /* line 118, ../scss/_wrapper.scss */
    .overlay .correct p, .overlay .wrong p {
      font-size: 17pt; }
    /* line 121, ../scss/_wrapper.scss */
    .overlay .correct .button, .overlay .wrong .button {
      margin: 10px 10px 0px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      border: 2px solid white;
      border-radius: 5px;
      padding: 7px;
      font-size: 13pt;
      background-color: transparent; }
      /* line 129, ../scss/_wrapper.scss */
      .overlay .correct .button.first, .overlay .wrong .button.first {
        margin-top: 50px; }
      /* line 132, ../scss/_wrapper.scss */
      .overlay .correct .button:active, .overlay .wrong .button:active {
        background-color: white;
        color: #444; }


/* line 1, ../scss/_buttons.scss */
.button, button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 13px;
  margin: 0px 10px 10px 0;
  background-color: steelblue;
  color: white;
  border-radius: 5px;
  border: 1px solid #3f75a2;
  text-align: center;
  font-weight: 700;
  font-size: 100%;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none; }
  /* line 20, ../scss/_buttons.scss */
  .button:active, button:active {
    background-color: #3f75a2;
    box-shadow: inset 0px 1px 5px rgba(0, 0, 0, 0.3); }
  /* line 24, ../scss/_buttons.scss */
  .button.fb, button.fb {
    background-color: #2d4486;
    border: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
    /* line 31, ../scss/_buttons.scss */
    .button.fb:active, .button.fb:hover, button.fb:active, button.fb:hover {
      background-color: #131d3a; }

/* line 18, ../scss/style.scss */
body {
  color: white;
  font-family: 'Montserrat', 'Avenir', sans-serif;
  font-size: 13pt;
  line-height: 1.5;
  font-weight: 400;
  position: fixed;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  background-color: #232323;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

/* line 32, ../scss/style.scss */
.harvey {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 38, ../scss/style.scss */
.hide {
  display: none; }

/* line 42, ../scss/style.scss */
.transform3d {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }