@charset 'utf-8';

/* 웹 폰트 */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Source+Code+Pro');
/* import normalize.css */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");

/* 스타일 초기화 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ul {
	list-style: none;
}

/* 본문 CSS */
html, body {
  font-family: 'Montserrat', 'Avenir', sans-serif;
  font-size: 15px;
  background-color: #232323;
  color: #fff;
  height: 100vh;
  overflow: hidden;
}

/* 제목 영역 CSS */
h1.title {
  text-align: center;
  text-transform: uppercase;
  background-color: steelblue;
  padding: 1.2rem;
  font-size: 1.2rem;
}
h1.title span {
  display: block;
  text-align: center;
  font-size: 3.2rem;
  line-height: 3.2rem;
}

/* 게임 영역 CSS */
.score-area {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
.game {
  text-align: center;
  position: relative;
}
.game .color-text {
  font-size: 1.7rem;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  margin-bottom: 50px;
}
.game .question-area{
  margin-top: 130px;
}
.game .answers {
  display: flex;
  justify-content: center;
}
.game .answers .option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
  border-color: #fff;
  -webkit-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.game .answers .option:last-child {
  margin-right: 0;
}
.option.show {
  -webkit-transform: scale(46);
  -ms-transform: scale(46);
  -o-transform: scale(46);
  -transform: scale(46);
  transform: scale(46);
  -webkit-transition: -webkit-transform 0.65s ease;
  -ms-transition: -ms-transform 0.65s ease;
  -o-transition: -o-transform 0.65s ease;
  -transition: -transform 0.65s ease;
  transition: transform 0.65s ease;
}

/* 결과 영역 CSS */
.overlay {
  display: none;
}
.overlay.show {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.button {
  display: inline-block;
  margin: 30px 0;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
.correct, 
.wrong {
  display: none;
}
.correct.show, 
.wrong.show {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 4.2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1);
  -webkit-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
  -moz-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
  -o-transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
  transition: all 500ms cubic-bezier(0.16, 0.935, 0.31, 1.2);
  -webkit-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1);
  -webkit-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
  -moz-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
  -o-transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
  transition-timing-function: cubic-bezier(0.16, 0.935, 0.31, 1.2);
}

.wrong.show .score-area-in-modal {
  margin: 1rem 0;
  font-size: 1.5rem;
}